@use 'sass:color';
@use 'sass:list';

$colors: ("purple", #6807f9), ("yellow", #FFD700), ("red", #FF0000),
    ("pink", #FF1493), ("orange", #FF4500), ("green", #2ECC40),
    ("brown", #D2691E), ("gray", #C0C0C0), ("blue", #00BFFF),
    ("aquamarine", #458b74), ("white", #ffffff), ("black", #000000),
    ("teal", #008080), ("gold", #FFD700), ("indigo", #4B0082),
    ("cyan", #00FFFF), ("lime", #00FF00), ("violet", #EE82EE),
    ("magenta", #FF00FF), ("beige", #F5F5DC), ("salmon", #FA8072),
    ("coral", #FF7F50), ("navy", #000080), ("olive", #808000),
    ("turquoise", #40E0D0), ("maroon", #800000), ("amber", #FFBF00),
    ("khaki", #F0E68C), ("crimson", #DC143C), ("orchid", #DA70D6),
    ("mint", #98FF98), ("periwinkle", #CCCCFF), ("rose", #FF66CC),
    ("slate", #708090), ("chartreuse", #7FFF00);

@each $color in $colors {
    $name: list.nth($color, 1);
    $value: list.nth($color, 2);

    .calendar-#{$name} {
        background-color: $value;
    }

    .is-checkradio[type="checkbox"].calendar-#{$name} {
        +label::before{
            border-color: $value !important;
        }
        +label:before{
            border-color: $value !important;
        }
        &:checked{
            +label::after{
                border-color: $value !important;
            }
            +label:after{
                border-color: $value !important;
            }
        }
        &:hover:not([disabled]){
            +label:before{
                border-color: $value !important;
            }
        }
    }
    .vuecal__event {
        &.#{$name} {
            background-color: color.adjust($value, $alpha: -0.3);
            border: 1px solid color.adjust($value, $lightness: -10%);
            color: #fff;
        }
    }
}

.vuecal__title button,
.vuecal__arrow.vuecal__arrow--prev,
.vuecal__arrow.vuecal__arrow--next {
    color: inherit !important;
    &:hover,
    &:focus,
    &:active {
        color: inherit !important;
    }
}
